[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
six = "*"
"ruamel.yaml" = "*"
embexpr = "*"
google-cloud-bigquery = "==0.25.0"
click = "*"
tqdm = "*"

[dev-packages]
yapf = "*"
isort = "*"
pytest = "*"
twine = "*"

[requires]
python_version = "3.7"
