[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

six = "*"
"ruamel.yaml" = "*"
typing = "*"
embexpr = "*"
google-cloud-bigquery = "*"
click = "*"
tqdm = "*"


[dev-packages]

yapf = "*"
isort = "*"
pytest = "*"
twine = "*"


[requires]

python_version = "2.7"
